<h2>{{event.description}}</h2>

<table class="table">
    <tbody>
    <tr>
        <td><b>Type</b></td>
        <td>{{event.type.type|translateFilter}}</td>
    </tr>
    <tr>
        <td><b>Oorsprong</b></td>
        <td>
            <img ng-src="{{event.source.icon_url}}" width="20" height="20"/>
            {{event.source.name}} ({{event.source.type}})
        </td>
    </tr>
    <tr>
        <td><b>Gehinderde transportmiddelen</b></td>
        <td>
            <span ng-repeat="type in event.relevant_for_transportation_types">
            {{type|translateFilter}}
            </span>
        </td>
    </tr>
    <tr>
        <td><b>Gemeld op</b></td>
        <td>{{event.publication_time | date:'HH:mm dd/MM/yyyy'}}</td>
    </tr>
    <tr>
        <td><b>Laatste aanpassing op</b></td>
        <td>{{event.last_edit_time | date:'HH:mm dd/MM/yyyy'}}</td>
    </tr>
    </tbody>
</table>

<ui-gmap-google-map
        center='map.center' zoom='map.zoom' events="map.events">
    <ui-gmap-markers
            models='map.markers'
            coords="'coords'">
    </ui-gmap-markers>
</ui-gmap-google-map>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" ui-sref="app.home">
            <i class="fa fa-backward"></i> Terug
        </button>
    </div>
</div>