<div class="signin-background-image">
    <div class="form-signin-wrapper text-center" style="margin-top: 5%;">
        <div class="panel panel-default"
             style="display: inline-block; padding: 15px 40px; border-radius: 15px; max-width: 30%;">
            <h2>Wachtwoord vergeten</h2>
            <div class="panel-body">
                <wizard on-finish="confirm(token)" hide-indicators="true">
                    <wz-step>
                        <form name="emailForm">
                            <div class="form-group" show-errors>
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" required class="form-control"
                                       placeholder="Email" ng-model="email"
                                       invalid-input-tooltip= "Gelieve uw emailadres in te geven">
                            </div>
                            <div style="margin: 0 10px 20px 35px;"
                                 vc-recaptcha
                                 key="key"
                                 on-create="setWidgetId(widgetId)"
                                 on-success="setResponse(response)"
                                 on-expire="cbExpiration()"></div>
                        </form>
                        <button class="btn btn-primary" ng-disabled="emailForm.$invalid"
                                ng-click="sendMail(email, response)">
                            <i class="fa fa-envelope"></i> Email versturen
                        </button>
                    </wz-step>
                    <wz-step>
                        <p>Indien u een account heeft bij ons, is er een email verstuurd naar uw emailadres.</p>
                        <p>U ontvangt een activatiecode via email, kopieer en plak deze hier</p>
                        <form name="accessTokenForm">
                            <div class="form-group" show-errors>
                                <textarea class="form-control" id="accessToken" name="accessToken"
                                          placeholder="Activatiecode" required
                                          ng-model="accessToken">

                                </textarea>
                            </div>
                        </form>
                        <button class="btn btn-primary" ng-disabled="accessTokenForm.$invalid"
                                ng-click="checkAccessToken(accessToken)">
                            <i class="fa fa-forward"></i> Bevestigen
                        </button>
                    </wz-step>
                    <wz-step>
                        <p>Geef een nieuw wachtwoord op.</p>
                        <form name="newPasswordForm">
                            <div class="form-group" show-errors>
                                <label for="password">Wachtwoord</label>
                                <input type="password" id="password" name="password" ng-model="password" required
                                       class="form-control"
                                       invalid-input-tooltip= "Gelieve een nieuw paswoord in te geven">
                            </div>
                            <div class="form-group" show-errors>
                                <label for="password2">Wachtwoord (opnieuw)</label>
                                <input type="password" id="password2" name="password2" ng-model="password2" required
                                       match="password" class="form-control">
                            </div>
                        </form>
                        <button class="btn btn-primary" ng-disabled="newPasswordForm.$invalid"
                                ng-click="changePassword(accessToken, password)">
                            <i class="fa fa-forward"></i> Bevestigen
                        </button>
                    </wz-step>

                </wizard>
            </div>
        </div>
    </div>
</div>