<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="MYFILE" fileName="logs/spring.log" class="org.apache.log4j.RollingFileAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <logger name="javabeat.net.controller" level="INFO" />
    </Loggers>
    <root>
        <priority value="info" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MYFILE" />
    </root>
</Configuration>