<html>
<body>
<h3>Wachtwoord vergeten</h3>

<div>
    <p>
        Goeiedag,
    </p>
    <p>
        We hebben een aanvraag ontvangen om uw wachtwoord op <a href="https://vopro5.ugent.be/app/">Mobiliteitscentrum
        Gent</a> opnieuw in te stellen.<br>
        Indien u dit niet hebt aangevraagd, kan u deze email veilig negeren.
    </p>
    <p>
        Uw activatiecode is:
    </p>
    <blockquote>
        ${token}
    </blockquote>
    <p>Deze is geldig tot <strong>${exp}</strong></p>
</div>
</body>
</html>